<?xml version="1.0"?>
<model>
  <name>tethys_keyboard_control</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>

  <description>
    Tethys underwater vehicle with keyboard control
  </description>
</model>